/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    height: 45px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.options {
    margin-top: 20px;
}

.btn-option {
    width: 100%;
    margin-bottom: 10px;
}

.recommendation-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Custom styles for index page buttons */
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

/* Custom styles for navbar */
.navbar-custom {
    background-color: #4d4d4d; /* 深色背景 */
    color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #dfdddd; /* 鼠标悬停颜色 */
}

.navbar-custom .nav-link.active {
    background-color: #383838; /* 点击后的背景颜色 */
    color: white; /* 保持文字颜色不变 */
    border-radius: 5px; /* 圆角边框 */
}

/* Custom styles for log buttons */
.btn-form {
    margin-right: 10px;
}

.btn-custom {
    width: 100px;
    color: white;
    background-color: #007bff; /* 统一按钮颜色 */
    border: none;
}

.btn-custom:hover {
    background-color: #0056b3;
}