<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="/">旅游伴侣</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">个人主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create_itinerary">创建团队</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/invitations">团队邀请</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my_teams">我的团队</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log">撰写日志</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/recommendations">查看推荐</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/routes">查看路线</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">登出</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var navLinks = document.querySelectorAll('.nav-link');
            var currentPath = window.location.pathname;

            navLinks.forEach(function(link) {
                if (link.getAttribute('href') === currentPath) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>
