<!-- templates/log.html -->
{% extends "base.html" %}
{% block title %}日志记录{% endblock %}
{% block content %}
<h2 class="text-center">日志记录</h2>
<form action="/log" method="POST">
    <div class="form-group">
        <h4>撰写日志</h4>
        <textarea id="content" name="content" class="form-control" rows="5" required style="color: #000; opacity: 0.75;"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>
<hr>
<h4>历史日志</h4>
{% for log in logs %}
    <div class="card mt-3" style="color: #000; opacity: 0.8;">
        <div class="card-body">
            <p>{{ log.content }}</p>
            <p class="text-muted">发布时间: {{ log.timestamp.strftime('%Y-%m-%d') }}</p>
            <div class="d-flex justify-content-start">
                <form action="/log/delete/{{ log.id }}" method="POST" class="btn-form">
                    <button type="submit" class="btn btn-custom">删除</button>
                </form>
                <a href="/log/edit/{{ log.id }}" class="btn btn-custom">编辑</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
