<!-- templates/routes.html -->
{% extends "base.html" %}
{% block title %}查看路线{% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center">查看路线</h2>
    <form id="route-form" class="mb-4" style="opacity: 0.75;">
        <div class="form-group">
            <label for="start">出发地</label>
            <input type="text" class="form-control" id="start" name="start" required>
        </div>
        <div class="form-group">
            <label for="end">目的地</label>
            <input type="text" class="form-control" id="end" name="end" required>
        </div>
        <button type="submit" class="btn btn-primary">查看路线</button>
    </form>
    <div id="map-container" style="width: 100%; height: 700px;">
        <div id="container" style="width: 100%; height: 100%;"></div>
    </div>
    <p id="status" class="text-center"></p>
</div>
<script src="https://webapi.amap.com/maps?v=2.0&key=16939ccf884880218c90f211b4b4d237&plugin=AMap.ToolBar,AMap.Driving"></script>
<script type="text/javascript">
    window._AMapSecurityConfig = {
          securityJsCode:'35fd25ffebfaf36bf528553448c1aed5',
    }

    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom: 10
    });

    function showStatus(message) {
        document.getElementById('status').innerHTML = message;
    }

    document.getElementById('route-form').addEventListener('submit', function(event) {
        event.preventDefault();
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;

        fetch('/routes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ start: start, end: end })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);  // 调试信息
            if (data.success) {
                var startLngLat = [data.start_longitude, data.start_latitude];
                var endLngLat = [data.end_longitude, data.end_latitude];

                map.setCenter(startLngLat);

                var driving = new AMap.Driving({
                    map: map,
                    panel: "panel"
                });

                driving.search(new AMap.LngLat(startLngLat[0], startLngLat[1]), new AMap.LngLat(endLngLat[0], endLngLat[1]), function(status, result) {
                    if (status === 'complete') {
                        showStatus('路线规划成功');
                    } else {
                        showStatus('路线规划失败：' + result);
                    }
                });
            } else {
                showStatus('获取路线失败：' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);  // 捕获错误
            showStatus('获取路线失败：' + error);
        });
    });
</script>
{% endblock %}
